@tailwind base;
/* putting custom CSS before `@tailwind utilities;` so utilities can override it */

/* APP */
:root {
	--white: #d0d0d0;
	--black: #232323;
	--black50: #23232380;
}

html,
body {
	position: relative;
	width: 100%;
	background: var(--black);
	color: var(--black);
	z-index: 0;
	overflow-x: hidden;
}

body {
	display: flex;
	justify-content: center;
	font-family: untitled-sans;
	box-sizing: border-box;
	text-transform: uppercase;
}

p,
a {
	font-weight: 300;
	margin: 4px 0;
}

a {
	color: var(--black);
	background: var(--black);
	border: solid 1px var(--white);
	padding: 2px 6px;

	text-decoration: none;
}

a:hover {
	color: var(--white);
}

::-moz-selection {
	/* Code for Firefox */
	color: red;
	background: yellow;
}

::selection {
	color: red;
	background: yellow;
}

/* @font-face {
	font-family: dahlia;
	src: url(/fonts/dahlia-regular.woff) format('woff');
	font-weight: 400;
}

@font-face {
	font-family: dahlia;
	src: url(/fonts/dahlia-medium.woff) format('woff');
	font-weight: 500;
} */

@font-face {
	font-family: dahlia;
	src: url(/fonts/dahlia-bold.woff) format('woff');
	font-weight: 700;
}

@font-face {
	font-family: untitled-sans;
	src: url(/fonts/test-untitled-sans-light.woff2) format('woff2');
	font-weight: 300;
}

/* scrollbar width */
::-webkit-scrollbar {
	width: 0px !important;
	height: 0px !important;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
	background: transparent !important;
}

/* scrollbar Handle */
::-webkit-scrollbar-thumb {
	background: #1b1c1d !important;
	border-radius: 0;
}

a.centreButton,
a.centreButton.prevent:hover {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
	opacity: 1;
	background: var(--white);
	border: solid 1px var(--black);
	color: var(--black);
	max-width: 100%;
	cursor: pointer;
	user-select: none;
}

a.centreButton:hover {
	background: var(--black);
	color: var(--white);
	border-color: var(--white);
	opacity: 1;
}

a.centreButton.alt {
	background: var(--black);
	border: solid 1px var(--white);
	color: var(--white);
}

a.centreButton.alt:hover {
	background: var(--white);
	border: solid 1px var(--black);
	color: var(--black);
}

@media (max-width: 800px) {
	p,
	a {
		font-size: 0.8rem;
	}

	body {
		padding: 0 20px;
		margin: 0;
	}

	a {
		color: var(--white);
	}
}
