@tailwind base;
/* putting custom CSS before `@tailwind utilities;` so utilities can override it */

/* APP */
:root {
	--primary: #d0d0d0;
	/* --primary-90: #d0d0d0e6;
	--primary-50: #d0d0d080; */
	--background-fallback: #faf9f6;
	--background: linear-gradient(115deg, #171717, #232323, #171717);
	--background-50: #d0d0d080;
	--accent: #f2cd5e;
}

html {
	background: var(--background-fallback);
	background: var(--background);
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	color: var(--primary);
	overflow-x: hidden;
	user-select: none;
	touch-action: manipulation;
}

body {
	display: flex;
	justify-content: center;
	font-family: untitled-sans, sans-serif;
	box-sizing: border-box;
	text-transform: uppercase;
	font-weight: 300;
}

h1 {
	font-family: 'dahlia', sans-serif;
	font-size: 44px;
	line-height: 44px;
	font-weight: 500;
	text-transform: lowercase;
	margin-bottom: 6px;
}

h3 {
	font-family: 'dahlia', sans-serif;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 8px;
	color: var(--black);
}

/* p,
a {
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0.028em;
	margin: 2px 0;
}

a,
header p {
	padding: 4px 8px;
	border-radius: 8px;
}

a.hide {
	color: var(--background);
	background: var(--background);
	border: solid 1px var(--primary-50);

	text-decoration: none;
}

a.hide:hover {
	color: var(--accent);
} */

::-moz-selection {
	/* Code for Firefox */
	color: red;
	background: yellow;
}

::selection {
	color: red;
	background: yellow;
}

@font-face {
	font-family: dahlia;
	src: url(/fonts/dahlia-regular.woff) format('woff');
	font-weight: 400;
}

@font-face {
	font-family: dahlia;
	src: url(/fonts/dahlia-medium.woff) format('woff');
	font-weight: 500;
}

@font-face {
	font-family: untitled-sans;
	src: url(/fonts/test-untitled-sans-medium.woff2) format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: untitled-sans;
	src: url(/fonts/test-untitled-sans-regular.woff2) format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: untitled-sans;
	src: url(/fonts/test-untitled-sans-light.woff2) format('woff2');
	font-weight: 300;
}

/* scrollbar width */
::-webkit-scrollbar {
	width: 0px !important;
	height: 0px !important;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
	background: transparent !important;
}

/* scrollbar Handle */
::-webkit-scrollbar-thumb {
	background: #1b1c1d !important;
	border-radius: 0;
}

@media (max-width: 760px) {
	body {
		margin: 0;
	}

	p,
	a {
		font-size: 14px;
		margin: 2px 0;
	}

	h1 {
		font-size: 40px;
		margin: 2px 0;
	}

	h3 {
		font-size: 15px;
	}

	a.hide {
		color: var(--primary-50);
	}
}
